
body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 85%;
    padding: 25px 10px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    z-index: 99;
}

.logo { 
    font-size: 1.5em;
    color: #fff;
    user-select: none;
}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500px;
    margin-left: 80px;
}
.navegation a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 8px;
    left: 0;
    bottom: -6px;
    transform-origin: center;
    transform: scaleX(0);
    transition: .5s;
}
.navegation a:hover::after  { 
    transform:scaleX(1);
    transform-origin: center;


 }

.navegation .btlogin-popup  {

    background: transparent;
    width: 120px;
    height: 50px;
    border: 2px solid #fff;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
    margin-left:500px ;
 }
 .navegation .btlogin-popup:hover {
        background: #fff;
        color: #6d44b8;

 }
.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    background: url('background6.avif') no-repeat ;
    border-radius: 10px;
    box-shadow:  5px  20px 50px #000;


}

#cb { 
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}


label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {

    margin: 60%;
    padding: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin: top 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover { 

    background: lightgray;
    color: #6d44b8;
}

.login {

    height: 460px;
    background: #fff;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #573b8a;
    transform: scale(.6);          
  
}

#cb:checked ~ .login {

        transform: translateY(-500px);
}

#cb:checked ~ .login label {
    transform: scale(1);
}

#cb:checked ~ .signup label {
    transform: scale(.6);
}

